html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    min-height: 100vh;
    margin: 0;
}

body {
    background: rgb(170,176,175);
    background: linear-gradient(0deg, rgba(170,176,175,1) 0%, rgba(207,207,207,1) 25%, rgba(207,207,207,1) 50%, rgba(146,147,140,1) 100%);
}

.flex {
    display: flex;
}

.navbar {
    background-color: #c9c78f;
}

.navbar .nav-link {
    border: 1px solid #c9c78f;
}

.navbar .nav-link:hover, .navbar .navbar-brand:hover {
    border: 1px solid #636b6f;
    border-radius: 10px;
}

.navbar a.dropdown-item:hover {
    background-color: #cccccc;
}

.navbar .navbar-brand {
    padding: 5px;
    border: 1px solid #c9c78f;
}

.card {
    border-radius: 5px 5px 20px 20px;
}

.card-body {
    font-size: 16px;
}

.card-header, .card-body button {
    background-color: #6660bf;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

// .card-header.filter {
//     font-size: 16px;
// }

.card-body button {
    border-radius: 20px;
    font-size: 14px;
    padding: 5px;
    margin-right: 15px;
}

.welcome-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.links > a:hover {
    border: 2px solid #636b6f;
    border-radius: 10px;
}

.list-text {
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}
// .filter-form, reset-form {
//     float: left;
// }
.reset-form {
    margin-left: 10px;
}